<h2>Hi, {{test}}</h2>
<h3 class="text-center">Current Jobs</h3>
<hr>
<h4>Job A <span class="label label-success">Processing</span></h4>
<progress class="progress progress-success" value="37" max="100">37%</progress>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#log0" aria-expanded="false" aria-controls="log0">
    View Log
</button>
<div class="collapse" id="log0">
  <div class="card card-block">
    Insert log output here
  </div>
</div>
<hr>
<h4>Job B <span class="label label-warning">Paused</span></h4>
<progress class="progress progress-warning" value="15" max="100">15%</progress>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#log1" aria-expanded="false" aria-controls="log1">
    View Log
</button>
<div class="collapse" id="log1">
  <div class="card card-block">
    Insert log output here
  </div>
</div>
<hr>
<h3 class="text-center">Past Jobs</h3>
<h4>testSample</h4>
<h3>Update Settings</h3>
<form>
    email, name, ph number, default job settings
</form>