<h2>Hi, {{currentUser()}} ({{loggedIn()}})</h2>
<h3 class="text-center">Current Jobs</h3>
<hr>
<h4>Job A <span class="label label-primary">Processing</span></h4>
<progress class="progress" value="37" max="100">37%</progress>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#log0" aria-expanded="false" aria-controls="log0">
    View Log
</button>
<div class="collapse" id="log0">
  <div class="card card-block">
    Insert log output here
  </div>
</div>
<hr>
<h4>Job B <span class="label label-warning">Paused</span></h4>
<progress class="progress progress-warning" value="15" max="100">15%</progress>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#log1" aria-expanded="false" aria-controls="log1">
    View Log
</button>
<div class="collapse" id="log1">
  <div class="card card-block">
    Insert log output here
  </div>
</div>
<hr>
<h4>Job C <span class="label label-danger">Failed</span></h4>
<progress class="progress progress-danger" value="24" max="100">24%</progress>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#log2" aria-expanded="false" aria-controls="log2">
    View Log
</button>
<div class="collapse" id="log2">
  <div class="card card-block">
    Insert log output here
  </div>
</div>
<hr>
<h4>Job Q <span class="label label-success">Complete</span></h4>
<progress class="progress progress-success" value="100" max="100">24%</progress>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#log3" aria-expanded="false" aria-controls="log3">
    View Log
</button>
<a class="btn btn-primary" href="/#/job/2/results">View Results</a>
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDelete">Delete</button>
<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Confirm Deletion</h4>
      </div>
      <div class="modal-body">
        Warning.
        Deleting this job, will permanently remove it from the database alongside any related files.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
<div class="collapse" id="log3">
  <div class="card card-block">
    Insert log output here
  </div>
</div>
<hr>
<h3 class="text-center">Past Jobs</h3>
<h4>testSample</h4>
<hr>
<h3>Update Settings</h3>
<form>
    <fieldset class="form-group">
        <label for="uName">Name</label>
        <input type="text" class="form-control" id="uName" value="{{test}}">
        <label for="uEmail">Email</label>
        <input type="email" class="form-control" id="uName" value="test@test.com">
        <label for="uPhone">Mobile Number</label>
        <input type="tel" class="form-control" id="uPhone" value="0222222222">
    </fieldset>
    <fieldset class="form-group c-inputs-stacked">
        <p>Default tools to run:</p>
        <label class="c-input c-checkbox">
            <input type="checkbox" checked>
            <span class="c-indicator"></span> Tool A
        </label>
        <label class="c-input c-checkbox">
            <input type="checkbox" checked>
            <span class="c-indicator"></span> Tool B
        </label>
        <label class="c-input c-checkbox">
            <input type="checkbox" checked>
            <span class="c-indicator"></span> Tool C
        </label>
        <p>Default tool:</p>
        <label class="c-input c-radio">
            <input id="radioStacked1" name="pickTool" type="radio">
            <span class="c-indicator"></span> Tool D/1
        </label>
        <label class="c-input c-radio">
            <input id="radioStacked2" name="pickTool" type="radio">
            <span class="c-indicator"></span> Tool D/2
        </label>
    </fieldset>
    <fieldset class="form-group c-inputs">
        <p>Default notifications:</p>
        <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span> Email
        </label>
        <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span> Text
        </label>
    </fieldset>
</form>