<form ng-submit="addJob()">
    <fieldset class="form-group">
        <label for="jobName">Job Name</label>
        <input type="text" class="form-control" id="jobName" placeholder="Enter a name for this job" ng-model="nJob.name">
    </fieldset>
    <fieldset class="form-group">
        <label for="inFile">Files to Process</label>
        <input type="file" class="form-control-file" id="inFile" multiple>
        <small class="text-muted">Select your A/B/C type files.</small>
    </fieldset>
    <fielset class="form-group">
        <p>This file input is not yet fully implemented by bootstrap, if they finish making it I will use it.</p>
        <label class="file">
            <input type="file" id="file">
            <span class="file-custom"></span>
        </label>
    </fielset>
    <fieldset class="form-group c-inputs-stacked">
        <p>Select tools to run:</p>
        <label class="c-input c-checkbox">
            <input type="checkbox" checked>
            <span class="c-indicator"></span> Tool A
        </label>
        <label class="c-input c-checkbox">
            <input type="checkbox" checked>
            <span class="c-indicator"></span> Tool B
        </label>
        <label class="c-input c-checkbox">
            <input type="checkbox" checked>
            <span class="c-indicator"></span> Tool C
        </label>
        <p>Select between these two tools:</p>
        <label class="c-input c-radio">
            <input id="radioStacked1" name="pickTool" type="radio">
            <span class="c-indicator"></span> Tool D/1
        </label>
        <label class="c-input c-radio">
            <input id="radioStacked2" name="pickTool" type="radio">
            <span class="c-indicator"></span> Tool D/2
        </label>
    </fieldset>
    <fieldset class="form-group c-inputs">
        <p>Notifications:</p>
        <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span> Email
        </label>
        <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span> Text
        </label>
<!--       fix in-line style -->
        <input type="text" style="display: inline-block; width: 40%;" class="form-control" id="textNumber" placeholder="Enter your mobile number">
    </fieldset>
    <button type="submit" class="btn btn-primary">Submit Job</button>
</form>