<form ng-submit="addJob()" >
    <fieldset class="form-group">
        <label for="jobName">Pipeline Job</label>
        <input type="text" class="form-control" id="jobName" placeholder="Enter a name for this job" ng-model="nJob.name">
    </fieldset>
    <fieldset class="form-group">
        <p>
        <label for="inFile">FASTQ input files</label>
        </p>
        <label class="file" id="inFile">
            <input type="file" id="file">
            <span class="file-custom"></span>
        </label>
        <p>
        <small class="text-muted">Makes sure file conform to &ltSample ID\&gt.*.R1.fq and to &ltSample ID\&gt.*.R2.fq </small>
        </p>
    </fieldset>
    <fieldset class="form-group">
        <label for="mtdna_ref">Mitochondrial Reference</label>
        <select class="form-control" id="mtdna_ref">
       <option>Pig (NC_0012095.1)</option>
       <option>Cow (NC_006853)</option>
       <option>Chicken (NC_001323.1)</option>
       <option>Human (NC_012920)</option>
       <option>Dog (NC_002008)</option>
        </select>
    </fieldset>

    <fieldset> 
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#advanced_options">Advanced pipeline options</button>
        <div id="advanced_options" class="collapse">
            <h5>Adapter Removal</h5>
                <p>

            <h5>BWA</h5>
                <label for="max_edit_distance">Maximum edit distance (arg -n)</label>
                <div class='form-group'>
                    <input type="text" class="form-control" id="max_edit_distance" placeholder="0.04">
                </div>
        </div>
    </fieldset>        





    <fieldset class="form-group c-inputs-stacked">
        <p>Select tools to run:</p>
        <label class="c-input c-checkbox">
            <input type="checkbox" checked>
            <span class="c-indicator"></span> Tool A
        </label>
        <label class="c-input c-checkbox">
            <input type="checkbox" checked>
            <span class="c-indicator"></span> Tool B
        </label>
        <label class="c-input c-checkbox">
            <input type="checkbox" checked>
            <span class="c-indicator"></span> Tool C
        </label>
        <p>Select between these two tools:</p>
        <label class="c-input c-radio">
            <input id="radioStacked1" name="pickTool" type="radio">
            <span class="c-indicator"></span> Tool D/1
        </label>
        <label class="c-input c-radio">
            <input id="radioStacked2" name="pickTool" type="radio">
            <span class="c-indicator"></span> Tool D/2
        </label>
    </fieldset>
    <fieldset class="form-group c-inputs">
        <p>Notifications:</p>
        <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span> Email
        </label>
        <label class="c-input c-checkbox">
            <input type="checkbox">
            <span class="c-indicator"></span> Text
        </label>
<!--       fix in-line style -->
        <input type="text" style="display: inline-block; width: 40%;" class="form-control" id="textNumber" placeholder="Enter your mobile number">
    </fieldset>
    <button type="submit" class="btn btn-primary">Submit Job</button>
</form>
