<div class="btn-group pull-right m-t" role="group" aria-label="Sample Selector">
  <button type="button" class="btn btn-primary">Sample A</button>
  <button type="button" class="btn btn-secondary">Sample B</button>
  <button type="button" class="btn btn-secondary">Sample C</button>
</div>
<h2>Sample Run <small class="text-muted">(ID: {{jNo}})</small></h2>
<p>Job was successfully completed on the 20th of November 2015</p>
<div class="text-center">
  <div class="btn-group">
    <button type="button" class="btn btn-primary">Download Run (.zip)</button>
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Download Run (.tar.gz)</a>
    </div>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-primary">Download Sample (.zip)</button>
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Download Sample (.tar.gz)</a>
    </div>
  </div>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#fileManager" aria-expanded="false" aria-controls="fileManager" id="fmButton">Toggle File Manager</button>
</div>
<ul ng-include="'fileTree'" id="fileManager" class="collapse"></ul>
<div id="container" style="width:100%; height:400px;"></div>
<img src="/sampleData/sample.final_contaminant_mapped.png" class="center-block img-responsive">

<script type="text/javascript">
    //Fix sync req
    var hcURL = "http://code.highcharts.com/highcharts.js";
    var hcBoostURL = "https://rawgit.com/highslide-software/highcharts.com/master/js/modules/boost.src.js";
    /*$.when(
      $.getScript(hcURL),
      $.getScript(hcBoostURL),
      $.Deferred(function(deferred){
          $(deferred.resolve);
      })
    ).done*/
    $.ajaxSetup({ cache: true });
    $.getScript(hcURL, function(){
      $.getScript(hcBoostURL, function(){
        $.ajax({
            url: "/sampleData/sample.cov",
            dataType: "text",
            success: function(data){
                var lines = data.split('\n');
                var processedData = [];
                $.each(lines, function(){
                     var temp = this.split("\t");
                     processedData.push([parseInt(temp[1]), parseInt(temp[3])]);
                });
                console.log(processedData);
                //This pop is only needed because last value was not correctly parsed
                processedData.pop();
                $('#container').highcharts({
                    chart: {
                        type: 'area',
                        zoomType: 'x'
                    },
                    title: {
                        text: 'Coverage Plot for Sample'
                    },
                    xAxis: {
                        title: {
                            text: 'Position (Bp)'   
                        }
                    },
                    yAxis: {
                        title: {
                            text: 'Coverage'
                        }
                    },
                    series: [{
                        data: processedData
                    }]
                });
            }
        });
      });
    });
</script>
<script type="text/ng-template" id="fileTree">
    <li ng-if="level.nextLevel">{{level.name}}
        <ul>
            <li ng-repeat="level in level.nextLevel" ng-include="'fileTree'">           
            </li>
        </ul>
    </li>
    <li ng-if="level.curLevel" ng-repeat="file in level.curLevel">{{file.name}}, size: {{file.size}}</li>
</script>