<h2>Job Q</h2>
<p>Job ID: {{jNo}}</p>
<p>Job succesfully completed on: xth of x xxxx</p>

<div id="container" style="width:100%; height:400px;"></div>
<img src="/sampleData/sample.final_contaminant_mapped.png">

<script type="text/javascript">
    //Fix sync req
    var hcURL = "http://code.highcharts.com/highcharts.js";
    $.getScript(hcURL, function () {
        $.ajax({
            url: "/sampleData/sample.cov",
            dataType: "text",
            success: function(data){
                var lines = data.split('\n');
                var processedData = [];
                $.each(lines, function(){
                     var temp = this.split("\t");
                     processedData.push([parseInt(temp[1]), parseInt(temp[3])]);
                });
                console.log(processedData);
                //This pop is only needed because last value was not correctly parsed
                processedData.pop();
                $('#container').highcharts({
                    chart: {
                        zoomType: 'x'
                    },
                    title: {
                        text: 'Coverage Plot for Sample'
                    },
                    xAxis: {
                        title: {
                            text: 'Position (Bp)'   
                        }
                    },
                    yAxis: {
                        title: {
                            text: 'Coverage'
                        }
                    },
                    plotOptions: {
                        area: {
                            lineWidth: 1,
                            threshold: null
                        }
                    },
                    series: [{
                        type: 'area',
                        data: processedData
                    }]
                });
            }
        });
    });
</script>